[submodule "ros_ws/src/external_packages/vesc"]
	path = ros_ws/src/external_packages/vesc
	url = https://github.uconn.edu/ret15108/vesc
[submodule "ros_ws/src/external_packages/particle_filter"]
	path = ros_ws/src/external_packages/particle_filter
	url = https://github.com/arpg-sophisticated/particle_filter.git
[submodule "ros_ws/src/external_packages/razor_imu_9dof"]
	path = ros_ws/src/external_packages/razor_imu_9dof
	url = https://github.com/KristofRobot/razor_imu_9dof.git
[submodule "ros_ws/src/external_packages/imu_tools"]
	path = ros_ws/src/external_packages/imu_tools
	url = https://github.com/arpg-sophisticated/imu_tools.git
	branch = melodic
[submodule "ros_ws/src/external_packages/zed-ros-wrapper"]
	path = ros_ws/src/external_packages/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper
