#!/bin/bash
# super sophisticated control script for nearly everything - settings
# written by Marcel Ebbrecht <marcel.ebbrecht@googlemail.com>

### IMPORTANT: Copy to toad.settings, configure and set CONFIGURED to 1 ###

# preamble
LANG=C
PATH=$PATH:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games

# settings
# branch for system
BRANCHBUILD="development"

# branch for ssh keys
BRANCHSSH="master"

# branch for car
BRANCHCAR="master"

# launchfile for simulation
LAUNCHBUILD="gazebo.launch"

# launchfile for car
LAUNCHCAR="car_wallfollowing.launch"

# IMPORTANT: IF YOU'RE INSANE, SET THIS TO 1, THIS WILL ENABLE 
# THE POSSIBILITY TO START THE CAR IN AUTONOMOUS MODE DIRECTLY
LAUNCHCARINSANE="0"

# custom racetrack
# - racecar
# - racecar_ar
# - racecar_cones
# - racecar_parking_1
# - racecar_tunnel
# - racecar_walker
# - racer_empty
# - racetrack
# - racetrack_decorated
# - racetrack_decorated_2
# - racetrack_decorated_2_big
# - racetrack_obstacle
# - track_barca
# - track_empty
# - track_levine
# - track_porto
LAUNCHTRACK="track_levine"

# path for ros to source
PATHROS="/opt/ros/melodic/setup.bash"

# path for bash setup to source
PATHSETUP="./devel/setup.bash"

# use gpu for lidar (true|false)
USEGPU="false"

# IP address of car for remote rviz
CARIP="192.168.42.10"

# main network interface of the car, used for determining address
CARINTERFACE="wlan0"

# set to 1 after configuring
CONFIGURED="0"

# set 1 for slack configured and usable
SLACK="0"

# slack api token
# https://api.slack.com/custom-integrations/legacy-tokens
SLACKTOKEN="PLACEHERE"

# slack channel name
SLACKCHANNEL="nameofchannel"

# sending on actions (1 to send, 0 to ignore)
SLACKSYSTEMSSH="0"
SLACKSYSTEMREBUILD="0"
SLACKSYSTEMRESETBUILD="0"
SLACKSYSTEMRUN="0"
SLACKCARSSH="0"
SLACKCARREBUILD="0"
SLACKCARRESETBUILD="0"
SLACKCARRUN="0"
